h5 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-links {
  border-bottom: 1px solid #e1e1e1;
}
.nav-links ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.active {
  font-weight: bold;
  text-decoration: none;
}
